@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #2d2a26;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1a17;
    --foreground: #f4eee1;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
